<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="cn.charlie166.web.store.dao.DemoDao">

    <select id="selectDemoCount" resultType="int">
        SELECT COUNT(*) FROM demo
    </select>
    
    <!-- 直接执行插入sql的 -->
    <insert id="directInsertBySql" parameterType="map" useGeneratedKeys="true" keyProperty="id">
    	${_sql}
    </insert>
    
    <!-- 直接执行更新SQL -->
    <update id="directUpdateSql" parameterType="map">
    	${_sql}
    </update>
    
</mapper>