<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <context:property-placeholder location="classpath*:config/*.properties" file-encoding="UTF-8"/> -->
	<!-- 配置相关properties文件处理 -->
	<bean class="cn.charlie166.web.store.tools.CustomPropertyPlaceholder">
		<property name="locations" value="classpath*:config/*.properties"/>
		<property name="fileEncoding" value="UTF-8"></property>
	</bean>
	
	<!-- 配置数据源 -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="connectionTimeout" value="30000"/>
        <property name="idleTimeout" value="600000"/>
    </bean>

    <!-- 配置sqlSessionFactory，SqlSessionFactoryBean是用来产生sqlSessionFactory的 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 加载mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:config/mybatis-config.xml"/>
        <!-- 加载数据源，使用上面配置好的数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置文件位置 -->
        <property name="mapperLocations" value="classpath*:config/mapper/*-mapper.xml"/>
    </bean>
    
    <!-- mapper批量扫描包，从mapper包中扫描出mapper接口，自动创建代理对象并且在spring容器中注册 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    <property name="basePackage" value="cn.charlie166.web.*.dao" />
	    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
	    <!-- 扫描要需找的注解 -->
	    <!-- <property name="annotationClass" value="org.springframework.stereotype.Repository"/> -->
	    <!-- 指定必须要继承的父接口 -->
	    <!-- <property name="markerInterface" value="cn.charlie166.web.store.dao.BaseDao"/> -->
	</bean>
    
    <!-- UEDITOR配置 -->
    <bean class="cn.charlie166.web.store.plugin.ueditor.UeditorConfigManager"></bean>
    <bean class="cn.charlie166.web.store.plugin.ueditor.UeditorActionEntrance"></bean>
    
    <!-- 测试自定义sql执行 -->
	<bean class="cn.charlie166.web.ruizhuo.dao.impl.BaseOptDaoimpl"/>
</beans>