<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
    	http://www.springframework.org/schema/mvc/spring-mvc.xsd
    	http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 自动扫描加载控制器 -->
	<context:component-scan base-package="cn.charlie166.web.store.controller"/>
	
	<!--
		静态资源映射   mapping: 映射的路径;  location: 资源位置
		注册 org.springframework.web.servlet.handler.SimpleUrlHandlerMapping  匹配处理
	-->
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/img/" mapping="/img/**"/>
	<mvc:resources location="/css/" mapping="/css/**"/>
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>  
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<constructor-arg>
						<bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
							<property name="deserializersByType">
								<util:map>
									<entry key="java.time.LocalDateTime">
										<bean class="cn.charlie166.web.store.tools.json.JacksonLocalDateTimeDeserializer"></bean>
									</entry>
									<entry key="java.time.LocalDate">
										<bean class="cn.charlie166.web.store.tools.json.JacksonLocalDateDeserializer"></bean>
									</entry>
									<entry key="java.time.LocalTime">
										<bean class="cn.charlie166.web.store.tools.json.JacksonLocalTimeDeserializer"></bean>
									</entry>
								</util:map>
							</property>
							<property name="serializers">
								<list>
									<bean class="cn.charlie166.web.store.tools.json.JacksonLocalDateTimeSerializer"/>
									<bean class="cn.charlie166.web.store.tools.json.JacksonLocalDateSerializer"/>
									<bean class="cn.charlie166.web.store.tools.json.JacksonLocalTimeSerializer"/>
								</list>
							</property>
							<property name="simpleDateFormat" value="yyyy-MM-dd HH:mm:ss"/>
							<property name="serializationInclusion" value="NON_NULL"/>
						</bean> 
					</constructor-arg>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 页面配置 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="prefix" value="/WEB-INF/view/" />
      	<property name="suffix" value=".jsp" />
   	</bean>
   	
	<!-- 上传多媒体文件处理器，id是确定的 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver">
	</bean>
	
	<!-- 统一异常处理器，使注解@ExceptionHandler的异常处理方法生效 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"/>
	                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
	<!-- 自定义统一处理返回体切面 -->
	<bean class="cn.charlie166.web.store.config.CustomResponseBodyAdvice"></bean>
	
</beans>